RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# add header to prevent ssl-stripping
Header set Strict-Transport-Security "max-age=31536000; includeSubdomains" env=HTTPS

AddType application/x-font-woff         woff

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/javascript text/css
AddOutputFilterByType DEFLATE application/javascript application/x-javascript application/json application/x-font-woff
AddOutputFilterByType DEFLATE image/svg+xml

ExpiresActive on
ExpiresByType image/gif  "access plus 2 months"
ExpiresByType image/png  "access plus 2 months"
ExpiresByType image/jpeg "access plus 2 months"
ExpiresByType image/svg+xml "access plus 2 months"
ExpiresByType text/css "access plus 2 month"
ExpiresByType text/javascript "access plus 2 month"
ExpiresByType application/javascript "access plus 2 month"
ExpiresByType application/x-font-woff "access plus 2 month"

RewriteRule ^wp-login.php https://wordpress.com [R=302,L]
RewriteRule ^ios_sdk/integrating_with_cordova.html /Platforms/Cordova.html [R=301,L]
RewriteRule ^iOS_SDK/Integrating_with_Cordova.html /Platforms/Cordova.html [R=301,L]
RewriteRule ^platforms/cordova.html /Platforms/Cordova.html [R=301,L]

RewriteRule ^ios_sdk/integrating_with_react_native.html /Platforms/React_Native.html [R=301,L]
RewriteRule ^iOS_SDK/Using_Xamarin_Component.html /Platforms/Xamarin.html [R=301,L]
RewriteRule ^ios_sdk/adding_udids_to_ios_development_profile.html /iOS_SDK/Adding_UDIDs_to_iOS_development_profile.html [R=301,L]
RewriteRule ^ios_sdk/integrating_ios_sdk.html /iOS_SDK/Integrating_iOS_SDK.html [R=301,L]
RewriteRule ^iOS_SDK/setup /iOS_SDK/Integrating_iOS_SDK.html [R=301,L]
RewriteRule ^04_iOS_SDK/About_dSYMs.html /iOS_SDK/How_To_Upload_dSYM.html [R=301,L]

RewriteRule ^ios_sdk/exporting_ad_hoc_ipa.html /iOS_SDK/Exporting_Ad_Hoc_IPA.html [R=301,L]
RewriteRule ^ios_sdk/identifying_your_users.html /iOS_SDK/Identifying_Your_Users.html [R=301,L]

RewriteRule ^Android/Identifying_Your_Users.html /Android/Identifying_your_users.html [R=301,L]
RewriteRule ^ANDROID_SDK/Changelog.html /Android/Changelog.html [R=301,L]

RewriteRule ^Integrations/Cordova.html /Platforms/Cordova.html [R=301,L]
RewriteRule ^integrations/cordova.html /Platforms/Cordova.html [R=301,L]
RewriteRule ^Integrations/React_Native.html /Platforms/React_Native.html [R=301,L]
RewriteRule ^Integrations/Xamarin.html /Platforms/Xamarin.html [R=301,L]
RewriteRule ^Integrations/Adobe_Air.html /Platforms/Adobe_Air.html [R=301,L]
RewriteRule ^Integrations/Unity.html /Platforms/Unity.html [R=301,L]
RewriteRule ^Integrations/Travis_CI.html /Continuous_Integration/Travis_CI.html [R=301,L]
RewriteRule ^Integrations/Bamboo.html /Continuous_Integration/Bamboo.html [R=301,L]
RewriteRule ^Integrations/Titanium.html /Platforms/Titanium.html [R=301,L]
RewriteRule ^integrations/travis_ci.html /Continuous_Integration/Travis_CI.html [R=301,L]
RewriteRule ^Android/Checkpoints.html /Android/Events.html [R=301,L]
RewriteRule ^platforms/xamarin_component.html /Platforms/Xamarin_Component.html [R=301,L]
RewriteRule ^platforms/react_native.html /Platforms/React_Native.html [R=301,L]
RewriteRule ^platforms/ionic.html /Platforms/Ionic.html [R=301,L]

RewriteRule ^integrations/bitbucket_pipelines.htm /Continuous_Integration/Bitbucket_Pipelines.html [R=301,L]
RewriteRule ^Integrations/Bitbucket_Pipelines.html /Continuous_Integration/Bitbucket_Pipelines.html [R=301,L]

RewriteRule ^ios_sdk/using_xamarin_component.html /Platforms/Xamarin_Component.html [R=301,L]

RewriteRule ^android/integrating_android_sdk.html /Android/Integrating_Android_SDK.html [R=301,L]

RewriteRule ^api/webhooks.html /API/Webhooks.html [R=301,L]

RewriteRule ^Upload_API.html$ /API/Upload_API.html [R=301,L]
RewriteRule ^api/upload_api.html /API/Upload_API.html [R=301,L]
RewriteRule ^upload_api.html /API/Upload_API.html [R=301,L]

RewriteRule ^getting_started/how_to_invite_testers.html /Getting_Started/How_To_Invite_Testers.html [R=301,L]

RewriteRule ^Rest_API.html /API/Rest_API.html [R=301,L]

RewriteRule ^integrations/okta.html /Single_Sign-On/OKTA.html [R=301,L]
RewriteRule ^Integrations/OKTA.html /Single_Sign-On/OKTA.html [R=301,L]

RewriteRule ^integrations/onelogin.html /Single_Sign-On/OneLogin.html [R=301,L]
RewriteRule ^Integrations/Onelogin.html /Single_Sign-On/OneLogin.html [R=301,L]

RewriteRule ^Integrations/Ping_Identity.html /Single_Sign-On/Ping_Identity.html [R=301,L]

ErrorDocument 404     /404.php
