RewriteEngine on

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^Upload_API.html$ /API/Upload_API.html [R=301,L]

RewriteRule ^wp-login.php https://wordpress.com [R=302,L]
RewriteRule ^ios_sdk/integrating_with_cordova.html /Integrations/Cordova.html [R=301,L]
RewriteRule ^ios_sdk/adding_udids_to_ios_development_profile.html /iOS_SDK/Adding_UDIDs_to_iOS_development_profile.html [R=301,L]
RewriteRule ^api/upload_api.html /API/Upload_API.html [R=301,L]

RewriteRule ^Integrations/Travis_CI.html /Continuous_Integration/Travis_CI.html [R=301,L]
RewriteRule ^Integrations/Bamboo.html /Continuous_Integration/Bamboo.html [R=301,L]

ErrorDocument 404     /404.php
