<!-- # Signup and email Verification -->
 
If you are new to TestFairy, the first thing you want to do is [sign up](http://www.testfairy.com/signup). Signing up is easy and free. All you have to do is insert your email address and choose a password - and you're in!

After signing up, you will receive a welcome email from us. Don't throw it away, It contains some useful information.

 1. First, please click on the account verficiation link in order to fully activate your account. 
 
 2. You will also find your **API Key** in this email. Use this key to upload builds and invite testers directly via command line, Gradle plugin, or Jenkins plugin. This key is PRIVATE to you and should not be shared with others.
Plesase note that you don't have to use the API immediately, as you can [upload](Upload.html) your apps to TestFairy manually, easily and instantly. However, in order to connect your continious integration servers to your TestFairy account and use or to sign your Android apps with your own signature, the [Upload API](/Upload_API.html) will be required. Please read the Upload API documentation for more details. The following plugins are available:
[Jenkins](https://wiki.jenkins-ci.org/display/JENKINS/TestFairy+Plugin), 
[gradle](https://github.com/testfairy/testfairy-gradle-plugin) and 
[Command Line](https://github.com/testfairy/command-line-uploader)

3. The welcome email also contains your **App Token**, to be used when initializing the TestFairy SDK. 

After making sure your account is fully verified - you are ready to roll!

**What you should read next:** [How to Upload Your App](Upload.html).
