<!-- # Signup and email Verification -->
 
If you are new to TestFairy, the first thing you will want to do is [sign up](http://www.testfairy.com/signup). Signing up is easy and free. All you need to do is insert your email address and choose a password - and you are in!

After signing up, you will receive an email from us with an account verification link. Please open this email and click on the link in order to fully activate your account. 

You will also find your **API Key** in this email.  Note that you can [upload](Upload.html) your apps to TestFairy manually without using the API. The manual upload is easy and instant. However, in order to connect your continious integration servers to your TestFairy account and use or to sign your Android apps with your own signature, the [Upload API](/Upload_API.html) will be required. Please read the Upload API documentation for more details. The following plugins are available:
[Jenkins](https://wiki.jenkins-ci.org/display/JENKINS/TestFairy+Plugin), 
[gradle](https://github.com/testfairy/testfairy-gradle-plugin) and 
[Command Line](https://github.com/testfairy/command-line-uploader)

The welcome email also contains your **App Token** to be used with iOS apps.

After your account is fully verified - you are ready to have some serious fun!

**What to read next:** [How to Upload Your App](Upload.html).
