<!-- # Signup and email Verification -->
 
If you are new to TestFairy, the first thing you want to do is [sign up](http://www.testfairy.com/signup). 

Signing up is easy and free. 
All you have to do is insert your email address and choose a password - and you're in!

![sign up](/img/getting-started/sign-up-1.png)

You can use your work email (preferred ) or just use gmail to create your account.
Select a domain name for your TestFairy [DASHBOARD](https://rafim.testfairy.com/) link - make it your own. 


After signing up, you will receive a welcome email from us. 

Don't throw it away, It contains some useful information:

 1. First, please click on the account verficiation link in order to **fully activate** your account. 
 
 2. In this email you will also find your **API Key**. 
    Use this key to upload builds and invite testers directly via command line, Gradle, Jenkins and all the other [plugins](https://docs.testfairy.com/Continuous_Integration/Introduction.html). 
    * **This key is PRIVATE to you and should not be shared with others.**

    Plesase note that you don't have to use the API immediately, as you can [upload](Upload.html) your apps to TestFairy     manually, easily and instantly. 

    However, in order to connect your continious integration server the [Upload API](/Upload_API.html) will be required. 

    Please read the [Upload API](https://docs.testfairy.com/API/Upload_API.html) documentation for more details. 

    There are many plusing availablr and we are allways working on new ones. Look at our [plugins](https://docs.testfairy.com/Continuous_Integration/Introduction.html) page for all the available CI plugins.


 3. The welcome email also contains your **App Token**, to be used when initializing the TestFairy SDK. You can also see it in your [App Token](https://app.testfairy.com/settings/) page 

After making sure your account is fully verified - you are ready to roll!

**What you should read next:** [How to Upload Your App](Upload.html).
