<!-- # Signup and email Verification -->

## Creating an Account

1. On the [TestFairy homepage](https://www.testfairy.com/), click **Sign up**.

![Sign up](/img/getting-started/signup-nav.png)

1. On the **Create a New Account** page, create your account using one of the options:
  * Login with Sauce Labs - Opens the **Sauce Labs login** page, where you can enter your Sauce Labs credentials.
  * Sign up with Google - Opens the **Sign in with Google** page, where you can enter your Google account credentials.
  * Enter an email address and a password and then click **Sign me up!**. Passwords must contain the following:
    * 1 lowercase letter
    * 1 uppercase letter
    * 1 digit
    * 1 special character
    * At least 8 characters
    * No blank spaces

![Create a New Account](/img/getting-started/create-account.png)

1. After registering your new account, a verification email will be sent to the email address you used to register. Click the account activation link to complete your registration.
