<!-- # Signup and email Verification -->

If you are new to TestFairy, the first thing you need to do is [create an account](http://www.testfairy.com/signup). If you already have a Sauce Labs account, you can login using your Sauce Labs credentials.

![create an account](/img/getting-started/create-account.png)

After signing up, you will receive a welcome email from us. Click the account verification link to activate your account. This email also includes your API key, which is used to upload builds and invite testers. This key is private and should not be shared with others.

**Note:** You don't have to use the API immediately, as you can also manually [upload](Upload.html) your apps. However, in order to connect your continuous integration server, the Upload API will be required. For more information, see [Upload API](/Upload_API.html).

The welcome email also contains your app token, which is used to initialize the TestFairy SDK. You can also view your app token on the [App Token](https://app.testfairy.com/settings/) page.
